# CMake生成文件
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# 构建输出
build/
cmake-build-*/
bin/
endstone_HuHoBot_*

# IDE和编辑器配置
.idea/
.vscode/

# 开发工具配置
.clang*
.xmake/

# 其他
Signature.txt